<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>음악 조회하기</h3>
<form action="search" method="post">
  음악 이름 : <input type="text" name="title"><br>
  프로듀서 : <input type="text" name="producer"><br>
  가수 : <input type="text" name="singer"><br>
  장르 : <input type="text" name="genre"><br>
  <input type="submit" value="조회하기">
</form>

<h3>음악 등록하기</h3>
<form action="enroll" method="post">
    음악 이름 : <input type="text" name="title"><br>
    프로듀서 : <input type="text" name="producer"><br>
    가수 : <input type="text" name="singer"><br>
    장르 : <input type="text" name="genre"><br>
    <input type="submit" value="등록하기">
</form>

</body>
</form>
</html>